body {
    margin: 0;
    padding: 0;
    background-color: #313131;

    overflow: hidden;

    font-family: arial, helvetica, serif;
    font-size: 12px;
    color: #A1A1A0;
    font-weight: normal;
}

html, body, .colmask {
    width: 100%;
    height: 100%;
}

.colmask {
    background-color: #fff;
}

.header {
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #242627;
    background: #393C3E;
}

.header input {
    margin: 10px 5px;
    color: #A1A1A0;
    padding: 5px;
    font-size: 12px;
}

.header .titleInput {
    width: 300px;
    margin: 0 20px;
    background-color: #393C3E;
    border: none;
    border-bottom: 1px solid #7A7A7A;
    border-left: 1px solid #7A7A7A;
}

.header .headerButton {
    padding: 5px 15px;
    cursor: pointer;
    background: #393c3e;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -moz-box-shadow: 0px 1px 3px rgba(000, 000, 000, 0.5), inset 0px 0px 1px rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 0px 1px 3px rgba(000, 000, 000, 0.5), inset 0px 0px 1px rgba(255, 255, 255, 0.7);
    box-shadow: 0px 1px 3px rgba(000, 000, 000, 0.5), inset 0px 0px 1px rgba(255, 255, 255, 0.7);
    text-shadow: 0px -1px 0px rgba(000, 000, 000, 0.4), 0px 1px 0px rgba(255, 255, 255, 0.3);
}

.header .headerButton:hover {
    background: #4c4c4c;
}

.colmid {
    width: 100%;
    height: 100%;
    min-height: 600px;
    min-width: 800px;
    background: #C0C0C0;
}

.toolspanel {
    position: absolute;
    left: 50px;
    bottom: 80px;
}

.toolspanel div {
    width: 70px;
    height: 70px;
    background: #393C3E;
    border: 1px solid #242627;
    border-radius: 10px;
    margin: 0 5px;
    display: inline-block;
}

.toolspanel div:hover {
    background: #4c4c4c;
}

.toolspanel img {
    max-height: 50px;
    max-width: 50px;
}

.colright {
    position: absolute;
    right: 0;
    top: 51px;
    width: 250px;
    height: 100%;
    border-left: 1px solid #242627;
    background: #3C3F41;
}

.colright .listingTitle:first-child+.listingTitle {
    margin-bottom: 5px;
}

.leftTitle {
    height: 20px;
    margin: 2px 0 4px 0;
    padding: 5px 0 0 0;
    background-color: #2B2B2B;
    text-align: center;
}

.propertiesContainer {
    border: none;
    height: 200px;
    padding: 0;
}

.groupName {
    padding: 2px 0 0 5px;
    height: 20px;
    background: #444;
}

.propertyLine {
    height: 25px;
    display: inline-block;
    margin: 10px 0;
    vertical-align: top;
}

.propertyDesc {
    width: 19px;
    padding-top: 4px;
}

.propertyLine > div {
    display: inline-block;
}

.inputControl {
    margin: 0 0 0 8px;
}

.inputControl div {
    float: left;
}

.propertyLine .inputContainer {
    float: left;
}

.propertyLine .inputContainer input {
    float: left;
    width: 36px;
    background: #3C3F41;
    border: none;
    color: #A1A1A0;
    text-align: right;
    border-bottom: 1px solid #7A7A7A;
    border-left: 1px solid #7A7A7A;
}

.propertyLine .inputButton {
    float: none;
    width: 16px;
    height: 7.5px;
    background: #444;
    margin: 0;
    padding-top: 3px;
}

.propertyLine .inputButton:hover {
    background: #717171;
}

.propertyLine .inputButton:first-child {
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    border-top-right-radius: 6px;
}

.propertyLine .inputButton:first-child+div {
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    border-bottom-right-radius: 6px;
}

.propertyLine .inputButton img {
    display: block;
    margin: 0 auto;
    height: 4px;
    width: 7px;
}

.listingElement {
    margin-bottom: 1px;
    padding-left: 10px;
    height: 20px;
    background: #444444;
    cursor: default;
}

.listingElement:hover {
    background: #717171;
}

.listingElement img {
    float: right;
    margin-right: 15px;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    border-top: 1px solid #242627;
    background: #393C3E;
}

.canvas {
    height: 100%;
    width: 100%;
}