body {
    background-color: #313131;
}

.col1 {
    background-color: #00ff00;
}

.col2 {
    background: #00ffff;
}

.col3 {
    background: #ffff00;
}

.canvas {
    height: 100%;
    width: 100%;
}