#wrapper {
    width: 400px;
    height: 200px;
    margin: 40px auto;
    background: #fff;
    border-top: 4px solid #eee;
    border-left: 4px solid #eee;
    padding: 20px
}

#listingDiv {
    position: relative;
    width: 400px;
    height: 200px;
    overflow: auto
}

#scrollable {
    position: absolute;
    width: 375px;
    z-index: 200
}

#scrollbar {
    float: right;
    position: relative;
    display: none;
    width: 15px;
    height: 200px;
    z-index: 100;
    /*background: url(images/scroll-bg.gif)*/
}

.scroller {
    position: absolute;
    top: 0;
    width: 15px;
    cursor: pointer;
    /*background: #ccc url(../img/scroll-arrows.gif) no-repeat 50% 50%;*/
}

.buttonclick {
    background-color: #bbb
}